<body>


<div class="header-wrapper">
      <div class="logo">
          <img src="/images/logo.png" alt="logo">
        </div>

      <div class="btn">
          <button  (click)="loginHandler()">Login</button>
      </div>



    <a [routerLink]="['home']"  class="linker">Головна</a>
    <a [routerLink]="['lecturers']"  class="linker">Викладачі</a>
    <a [routerLink]="['profile']"  class="linker">Профіль</a>

    
</div>



<!--


    
    



    <button (click)="logout()">Logout using Redirect</button>
    <button (click)="logout(true)">Logout using Popup</button>



-->
    


<div class="container">
  <!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
  <router-outlet></router-outlet>
  
</div>

</body>