<body>


<div class="header-wrapper">
<div class="logo">
  
</div>



    <a [routerLink]="['home']"  class="linker">Головна</a>
    <a [routerLink]="['lecturers']"  class="linker">Викладачі</a>
    <a [routerLink]="['profile']"  class="linker">Профіль</a>
    <button  (click)="logoutHandler()">Log out</button>

    
</div>
<div class="login-handler" [hidden]="loggedIn == true">
  <div class="btn">
    <button  (click)="loginHandler()">Login</button>
  </div>
</div>


<div class="container" *ngIf="loggedIn == true">
  
  <router-outlet></router-outlet>
  
</div>

</body>