<body>
  

<div class="header-wrapper">
<div class="logo">
  <p class="title" href="/">{{ title }}</p>
</div>

<div class="btn">
  <button (click)="loginRedirect()">Війти</button>
</div>

    <a [routerLink]="['home']"  class="linker">Головна</a>
    <a [routerLink]="['lecturers']"  class="linker">Викладачі</a>
    <a [routerLink]="['profile']"  class="linker">Профіль</a>

    
</div>

  <button (click)="loginRedirect()">Login using Redirect</button>

<!--


    
    <button  (click)="loginPopup()">Login using Popup</button>



    <button (click)="logout()">Logout using Redirect</button>
    <button (click)="logout(true)">Logout using Popup</button>



-->
    


<div class="container">
  <!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
  @if (!isIframe) {
  <router-outlet></router-outlet>
  }
</div>

</body>